<aside class="aside-menu">
    <tabset>
        <tab>
            <template tabHeading><i class="fa fa-list"></i>
            </template>
            <div class="dropdown-header text-xs-center">
            <strong>Account</strong>
            </div>
           <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/overview']"><i class="fa fa-home"></i>  Overview</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/items']"><i class="fa fa-tasks"></i> Items</a>
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/reports']"><i class="fa fa-envelope-o"></i> Reports</a>
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/recommendations']"><i class="fa fa-certificate"></i> Recommendations</a>
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/score-simulator']"><i class="fa fa-tachometer"></i> Score Simulator</a>
            <a class="dropdown-item" href="#" (click)="auth.logout()"><i class="fa fa-lock"></i> Logout</a>
             <hr class="m-x-1 m-y-0">
        </tab>
        <tab>
            <template tabHeading><i class="fa fa-comments"></i>
            </template>
            <div class="dropdown-header text-xs-center">
            <strong>Notifications</strong>
            </div>
            <div class="p-a-1">
                <div class="message">
                    <div class="p-y-1 p-b-3 m-r-1 pull-left">
                        <div class="avatar">
                            <img src="/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                            <span class="avatar-status tag-success"></span>
                        </div>
                    </div>
                    <div>
                        <small class="text-muted">Lukasz Holeczek</small>
                        <small class="text-muted pull-right m-t-q">1:52 PM</small>
                    </div>
                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                    <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                </div>
                <hr>
            </div>
        </tab>
        <tab>
            <template tabHeading><i class="fa fa-cog"></i>
            </template>
            <div class="dropdown-header text-xs-center">
                        <strong>Settings</strong>
                    </div>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/profile']"><i class="fa fa-user-circle"></i> Profile</a>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/payment-method']"><i class="fa fa-usd"></i> Payment Method</a>
                    <div class="divider"></div>
                    <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/lock-account']"><i class="fa fa-shield"></i> Lock account</a>
                     <hr class="m-x-1 m-y-0">
            <div class="p-a-1">
                <div class="aside-options">
                <h6>Active Services</h6>
                    <div class="clearfix m-t-1">
                        <small><b>Credit monitoring </b>
                        </small>
                        <label class="switch switch-text switch-pill switch-success switch-sm pull-right">
                            <input type="checkbox" class="switch-input" checked>
                            <span class="switch-label" data-on="On" data-off="Off"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                    <div>
                        <small class="text-muted">Continue to monitor your credit while obtaining helpful information along the way.</small>
                    </div>
                </div>

                <div class="aside-options">
                    <div class="clearfix m-t-1">
                        <small><b>Credit Repair </b>
                        </small>
                        <label class="switch switch-text switch-pill switch-success switch-sm pull-right">
                            <input type="checkbox" class="switch-input">
                            <span class="switch-label" data-on="On" data-off="Off"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                    <div>
                        <small class="text-muted">Full-Service Credit Repair for only $99/month*!</small>
                    </div>
                </div>

                <div class="aside-options">
                    <div class="clearfix m-t-1">
                        <small><b>Credit Analyzer </b>
                        </small>
                        <label class="switch switch-text switch-pill switch-success switch-sm pull-right">
                            <input type="checkbox" class="switch-input">
                            <span class="switch-label" data-on="On" data-off="Off"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                    <div>
                        <small class="text-muted">Unsure if you need credit repair? Analyze your credit for only $49!</small>
                    </div>
                </div>
        </div>
        <hr>
            <div class="p-a-1">
                <h6>Alert Preferences</h6>
                 <div class="aside-options">
                    <div class="clearfix m-t-1">
                       <small><b>Email Notifications</b>
                        </small>
                        <label class="switch switch-text switch-pill switch-success switch-sm pull-right">
                            <input type="checkbox" class="switch-input">
                            <span class="switch-label" data-on="On" data-off="Off"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                    <div>
                        <small class="text-muted">You will still receive account updates in the notifications tab. We will only email you critical information pertaining to your account.</small>
                    </div>
                </div>

            </div>
        </tab> 
    </tabset>
</aside>