<!-- Header -->
 <application-header></application-header>
<!-- End Header -->
<!-- Sidebar -->
 <application-sidebar></application-sidebar>
<!-- End Sidebar -->
<!-- Main content -->
<main class="main">
    <!-- Breadcrumb -->
     <ol class="breadcrumb">
        <breadcrumbs></breadcrumbs>
        <!-- Breadcrumb Menu-->
    </ol>
     <!-- End Breadcrumb -->
     <!-- Container Fluid -->
    <div class="container-fluid">
     <!-- Main Content Outlet Selector -->
        <router-outlet></router-outlet>
     <!-- End Main Content Outlet Selector -->
    </div>
    <!-- /.conainer-fluid -->
</main>
<!-- End Main content -->
<!-- Aside Menu -->
 <application-aside></application-aside>
<!-- End Aside Menu -->
<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
    <div class="row footer-row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <h3>Social Media Links</h3>
                <a target="_blank" href="https://www.facebook.com/RiverwalkCreditSolutions/">
                <i class="fa fa-facebook-square social-links"></i>
                </a>
                <a target="_blank" href="https://twitter.com/riverwalkcredit">
                <i class="fa fa-twitter-square social-links"></i>
                </a>
                <a href="#">
                <i class="fa fa-google-plus-square social-links"></i>
                </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <h3>Get In Touch</h3>
            <h4>By Email</h4>
                <address>
                    <a href="mailto:info@riverwalkcredit.com">info@riverwalkcredit.com</a>
                </address>
            <h4>By Mail</h4>
                <address>
                    <p>1601 Airport Freeway, 2nd Floor
                    <br>Euless, TX 76040
                    </p>
                </address>
            <h4>By Telephone/Fax</h4>
                <address>
                    <p>Toll Free:<br> 
                    1-877-895-2919
                    <br>Local:<br> 
                    817-768-5572
                    <br>Fax:<br> 
                    817-768-5580
                    </p>
                </address>   
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <h3>Quick Links</h3>
            <a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <h3>Quick Links</h3>
            <a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
            <br><a href="#">Place Holder Link</a>
        </div>
    </div>
    <div class="row">
    <span class="text-left">
        <a href="https://riverwalkcredit.com">Riverwalk Credit</a> &copy; 2016 Riverwalk Credit
    </span>
    <span class="pull-right">
        Powered by <a href="https://wuno.com">Wuno, Inc.</a>
    </span>
    </div>
    </div>
</footer>
<!-- End Footer -->