<!-- Header -->
 <application-header></application-header>
<!-- End Header -->
<!-- Sidebar -->
 <application-sidebar></application-sidebar>
<!-- End Sidebar -->
<!-- Main content -->
<main class="main">
    <!-- Breadcrumb -->
     <ol class="breadcrumb">
        <breadcrumbs></breadcrumbs>
        <!-- Breadcrumb Menu-->
    </ol>
     <!-- End Breadcrumb -->
     <!-- Container Fluid -->
    <div class="container-fluid">
     <!-- Main Content Outlet Selector -->
        <router-outlet></router-outlet>
     <!-- End Main Content Outlet Selector -->
    </div>
    <!-- /.conainer-fluid -->
</main>
<!-- End Main content -->
<!-- Aside Menu -->
 <application-aside></application-aside>
<!-- End Aside Menu -->
<!-- Footer -->
<footer class="footer">
    <span class="text-left">
        <a href="http://wuno.com">Wuno, Inc.</a> &copy; 2016 Wuno, Inc.
    </span>
    <span class="pull-right">
        Powered by <a href="https://wuno.com">Wuno, Inc.</a>
    </span>
</footer>
<!-- End Footer -->
