<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
             <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><i class="icon-star"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/benefits']"><i class="icon-star"></i> Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/services']"><i class="icon-star"></i> Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/products']"><i class="icon-star"></i> Financial Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/education']"><i class="icon-star"></i> Credit Education</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/fcra']"><i class="icon-star"></i> FCRA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/croa']"><i class="icon-star"></i> CROA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/building']"><i class="icon-star"></i> Building</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/tips']"><i class="icon-star"></i> Tips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/maintenance']"><i class="icon-star"></i> Maintenance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']"><i class="icon-star"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/register']"><i class="icon-star"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/p404']"><i class="icon-star"></i> Error 404</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/e500']"><i class="icon-star"></i> Error 500</a>
                    </li>
            <li class="divider"></li>
        </ul>
    </nav>
</div>