<div class="container">
<div class="animated fadeIn">
    <div class="row">
    <h1> Hello {{auth.userProfile.given_name}}, Review the Items on Your Credit</h1>
        <div class="col-sm-12 col-md-4">
                <div class="card-header">
             	Credit Card Utilization 
                </div>
				<div class="card text-xs-center">
					<div class="callout callout-success m-a-0 p-y-1">
		                <div>
		                	<strong>Experian</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-warning m-a-0 p-y-1">
		                <div>
		                	<strong>Transunion</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-primary m-a-0 p-y-1">
		                <div>
		                	<strong>Equifax</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
            	</div>
        </div> <!--/col-->

         <div class="col-sm-12 col-md-4">
                <div class="card-header">
             	Payment History 
                </div>
				<div class="card text-xs-center">
					<div class="callout callout-success m-a-0 p-y-1">
		                <div>
		                	<strong>Experian</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-warning m-a-0 p-y-1">
		                <div>
		                	<strong>Transunion</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-primary m-a-0 p-y-1">
		                <div>
		                	<strong>Equifax</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
            	</div>
        </div> <!--/col-->

            <div class="col-sm-12 col-md-4">
                <div class="card-header">
             	Derogatory Marks   
                </div>
				<div class="card text-xs-center">
					<div class="callout callout-success m-a-0 p-y-1">
		                <div>
		                	<strong>Experian</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-warning m-a-0 p-y-1">
		                <div>
		                	<strong>Transunion</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-primary m-a-0 p-y-1">
		                <div>
		                	<strong>Equifax</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
            	</div>
        </div> <!--/col-->
    </div><!--/row-->

    <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card-header">
             	Age of Credit History  
                </div>
				<div class="card text-xs-center">
					<div class="callout callout-success m-a-0 p-y-1">
		                <div>
		                	<strong>Experian</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-warning m-a-0 p-y-1">
		                <div>
		                	<strong>Transunion</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-primary m-a-0 p-y-1">
		                <div>
		                	<strong>Equifax</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
            	</div>
        </div> <!--/col-->

        
            <div class="col-sm-12 col-md-4">
                <div class="card-header">
             	Total Accounts
                </div>
				<div class="card text-xs-center">
					<div class="callout callout-success m-a-0 p-y-1">
		                <div>
		                	<strong>Experian</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-warning m-a-0 p-y-1">
		                <div>
		                	<strong>Transunion</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-primary m-a-0 p-y-1">
		                <div>
		                	<strong>Equifax</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
            	</div>
        </div> <!--/col-->

            <div class="col-sm-12 col-md-4">
                <div class="card-header">
             	Credit Inquiries 
                </div>
				<div class="card text-xs-center">
					<div class="callout callout-success m-a-0 p-y-1">
		                <div>
		                	<strong>Experian</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-warning m-a-0 p-y-1">
		                <div>
		                	<strong>Transunion</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
	            	<hr class="m-x-1 m-y-0">
	            	<div class="callout callout-primary m-a-0 p-y-1">
		                <div>
		                	<strong>Equifax</strong>
		                	<span class="tag tag-pill tag-danger pull-right">18%</span>
		                </div>
	               		<small class="text-muted m-r-1"><i class="icon-calendar"></i>&nbsp; $2300</small>
	                	<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; 18%</small>
	            	</div>
            	</div>
        	</div> <!--/col-->
    	</div><!--/row-->
	</div> <!--End animated fadeIn-->
</div><!--End container -->