<div class="container">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card card-inverse card-success">
                    <div class="card-header">
                            Lock Account -
                            <button type="submit" class="btn btn-sm btn-danger btn-oj"><i class="fa fa-dot-circle-o"></i> Lock Account</button>
                    </div>
                    <div class="card-block">
                         Locking your account will add extra security to your account. Your account will be unaccessible till you login and answer security questions verifying your identity. 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>