<div class="container">
    <div class="animated fadeIn">
    <div class="row">
    <h1> Hello {{auth.userProfile.given_name}}, This is Your Credit Overview</h1>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header">
             	Equifax
                </div>
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                    ea commodo consequat.
                </div>
            </div>
        </div>
        <!--/col-->
         <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header">
                   Experian
                </div>
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                    ea commodo consequat.
                </div>
            </div>
        </div>
        <!--/col-->
         <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    Transunion                </div>
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                    ea commodo consequat.
                </div>
            </div>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
    </div> <!--End animated fadeIn-->
</div>