<script type="text/javascript">
	var $usegraphics = "false";
	var $hbgcolor = "#659180";
	var $show_header = "no";
	var $show_bank_dropdowns = "yes";
	var $show_credit_rating_dropdowns = "yes";
	var $show_footer = "no";
	var $addjquery = "yes";
</script>





<div class="container">
	<div class="animated fadeIn">
	    <div class="row">
	    <h1> Hello {{auth.userProfile.given_name}}, These are Offers Based on Your Credit</h1>
	        <div class="col-sm-12 col-md-12 col-lg-12">
	            <div class="card">
	                <div class="card-header tag-success">
	                <span class="equifax-report white">Credit Cards</span>
	                </div>
	                <div class="card-block">
	                 <script type="text/javascript" src="http://www.creditcardbroker.com/includes/get_feed_with_header.php?aid=feed5337&feedtype=all "></script>

	                </div>
	                <div class="card-footer tag-success white">
	                	In the spirit of full disclosure, this is an affiliate link, which means that we may receive fees, commissions or other monetary benefits in connection with this product from third parties.  We only recommend products and systems that we use and love ourselves, so we know you will be in good hands.
	                </div>
	            </div>
	        </div>
	        <!--/col-->
	    </div>
	    <!--/row-->
	    <div class="row">
	        <div class="col-sm-12 col-md-12 col-lg-12">
	            <div class="card">
	                <div class="card-header tag-warning">
	                <span class="equifax-report white">Mortgage Loans</span>
	                </div>
	                <div class="card-block">
	                 Mortgage loan offers will go in this space.
	                </div>
	                <div class="card-footer tag-warning white">
	                	In the spirit of full disclosure, this is an affiliate link, which means that we may receive fees, commissions or other monetary benefits in connection with this product from third parties.  We only recommend products and systems that we use and love ourselves, so we know you will be in good hands.
	                </div>
	            </div>
	        </div>
	        <!--/col-->
	    </div>
	    <!--/row-->
	    <div class="row">
	        <div class="col-sm-12 col-md-12 col-lg-12">
	            <div class="card">
	                <div class="card-header tag-primary">
	                <span class="equifax-report white">Personal Loans</span>
	                </div>
	                <div class="card-block">
	                 Personal loan offers will go in this space.
	                </div>
	                <div class="card-footer tag-primary white">
	                	In the spirit of full disclosure, this is an affiliate link, which means that we may receive fees, commissions or other monetary benefits in connection with this product from third parties.  We only recommend products and systems that we use and love ourselves, so we know you will be in good hands.
	                </div>
	            </div>
	        </div>
	        <!--/col-->
	    </div>
	    <!--/row-->
	      <div class="row">
	        <div class="col-sm-12 col-md-12 col-lg-12">
	            <div class="card">
	                <div class="card-header tag-danger">
	                <span class="equifax-report white">Rebuild Your Credit</span>
	                </div>
	                <div class="card-block">
	                <div class="row"> 
	                <h5> My Jewelers Club</h5>
				        <div class="col-sm-4">
				           <a href="https://www.myjewelersclub.com/discount/25725/">
				            <img class="slides img-fluid" src="/img/affiliates/jewelry-main-sized.png" alt="My Jewelers Club">
				           </a>
				        </div>
				        <div class="col-sm-8">
				            <ul>
								<li>$5,000.00 un-secured revolving line of credit</li>
								<li>Instant Approval</li>
								<li>Free shipping</li>
								<li>Reports to Equifax, Transunion and Experian</li>
								<li>Possible 20 to 100 point increase in credit scores the 1st month of reporting</li>
								<li>There is generally one hard inquiry with Experian to verify application information</li>
								<li>We are R.E.S.P.A. compliant.  We follow the same rules as AMEX, MC and Visa</li>
							</ul>
				        </div>
				                <p>
							        $99 sign up. If a customer is not approved, the $99 processing fee is fully refundable.
									REASONS  FOR  NON-APPROVAL:  A) Active and open bankruptcy,   B) Child support that is in the arrears and    C) Tax liens over $20,000.00.
							        </p>
							        <p>
							        One time minimum purchase of $100 with 50% down on all purchases for the 1st year.  
							        <br />(This aids in deterring overspending and keeps spending below the 30% utilization threshold.)
							        </p>
							        <button href="https://www.myjewelersclub.com/discount/25725/" type="submit" class="btn btn-sm btn-danger btn-oj"><i class="fa fa-dot-circle-o"></i> Sign Up</button>
				    </div>
				    <div class="crumb"></div>
	                </div>
	                <div class="card-footer tag-danger white">
	                	In the spirit of full disclosure, this is an affiliate link, which means that we may receive fees, commissions or other monetary benefits in connection with this product from third parties.  We only recommend products and systems that we use and love ourselves, so we know you will be in good hands.
	                </div>
	            </div>
	        </div>
	        <!--/col-->
	    </div>
	    <!--/row-->
	</div> <!--End animated fadeIn-->
</div> <!--End container-->