<div class="container">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card card-inverse card-success">
                    <div class="card-header">
                            Score Simulator
                    </div>
                    <div class="card-block">
                         The score simulator will go here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>