<div class="container-fluid">
    <img class="slides img-fluid" src="/img/slides/slide-2.jpg">
    <div class="row primaryUnderSlide">
        <div class="row center">
            <h1>Benefits of Credit Repair by Riverwalk</h1>
        </div>
    </div>
    <div class="benefit row">
        <div class="row center">
            <h1><i class="benefit fa fa-balance-scale" aria-hidden="true"></i>FTC COMPLIANT</h1>
            <h3>Riverwalk's Credit Repair is 100% FTC compliant.</h3>
            <h4>According to the Federal Trade Commission, there are several signs that may mean a credit repair company is non-compliant:</h4>
        </div>
        <div class="row"> 
                <div class="col-md-6 center">
                    <p>The company wants you to pay for credit repair services before they provide any services. Under the Credit Repair Organizations Act, credit repair companies cannot require you to pay until they have completed the services they have promised. The company recommends that you do not contact any of the three major national credit reporting companies directly.
                    The company doesn't tell you your rights and what you can do for yourself for free.</p>
                </div>
            <div class="col-md-6 center">
                    <p>The company tells you they can get rid of most or all of the negative credit information in your credit report, even if that information is accurate and current. The company advises you to dispute all the information in your credit report, regardless of its accuracy or timeliness.
                    The company suggests that you try to invent a "new" credit identity - and then, a new credit report - by applying for an Employer Identification Number to use instead of your Social Security number.</p>
            </div>            
        </div>   
        <div class="row center">
            <h3>Credit News</h3>
            <p>For Release: October 23, 2008</p>
            <a href="https://www.ftc.gov/news-events/press-releases/2008/10/operation-clean-sweep-ftc-and-state-agencies-target-36-credit"><h4>"Operation Clean Sweep": FTC and State Agencies Target 36 "Credit Repair" Operations »</h4></a>
            <p>The Federal Trade Commission and 24 state agencies today announced a crackdown on 33 operations that deceptively claim they can remove negative information from consumers' credit reports, even if that information is accurate and timely. In the seven FTC actions announced today, the Commission seeks to halt the defendants' allegedly unlawful business practices, prohibit further violations, and make them pay consumer redress and give up their ill-gotten gains. In addition, the FTC announced three related credit repair cases earlier this year. <a href="https://www.ftc.gov/news-events/press-releases/2008/10/operation-clean-sweep-ftc-and-state-agencies-target-36-credit">Read the full story on the FTC website »</a></p>      
        </div>
    </div>
    <div class="crumb"></div>
    <div class="benefit row">
        <div class="row center">
            <h1><i class="benefit fa fa-lock" aria-hidden="true"></i>HASSLE-FREE</h1>
            <h3>Credit Repair with a Guarantee!</h3>
            <h4>Riverwalk will continue to dispute errors for up to 6 months.</h4>          
        </div>
        <div class="row center"> 
            <p>Riverwalk is so confident that our services will work, that we will continue to work on your credit report for up to an additional 6 months at no extra cost to you! We'll keep doing that for six additional months, or until all the information on your credit report has been verified as accurate by the bureaus, whichever comes first. And you'll never pay more than $99 per month.</p>

            <p>What do you get? Errors are corrected, misrepresentations are changed unverifiable credit items are verified and inaccuracies are revised or proven accurate</p>
        </div>
    </div>
    <div class="crumb"></div>
    <div class="benefit row">
        <div class="row center">
            <h1><i class="benefit fa fa-long-arrow-down" aria-hidden="true"></i>LOW PRICE</h1>
            <h3>Riverwalk offers Credit Repair for one low price - only $99/month*.</h3>
        </div>
        <div class="row"> 
            <p class="center">Why should I hire Riverwalk to repair my credit? Can't I just do it myself?</p>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-question"></i>Do you have time to read your credit reports each month?</li>
                    <li><i class="fa-li fa fa-question"></i>Do you know what to look for?</li>
                    <li><i class="fa-li fa fa-question"></i>Do you know what to say?</li>
                    <li><i class="fa-li fa fa-question"></i>Do you know how to analyze your credit reports for errors and inaccuracies?</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-question"></i>Do you know your rights concerning your credit?</li>
                    <li><i class="fa-li fa fa-question"></i>Do you have time to write letters to the credit bureaus each month?</li>
                    <li><i class="fa-li fa fa-question"></i>What do you say to each of the credit bureaus concerning errors on your credit reports?</li>
                    <li><i class="fa-li fa fa-question"></i>What do you do about past addresses, credit inquiries, and other types of credit items?</li>
                </ul>
            </div>            
            <div class="col-sm-2">
            </div>
        </div>
        <div class="row center">
            <p>If you answer "No" to any of these questions, Riverwalk can help. For one low price, our credit experts will oversee your entire credit repair process to ensure you get the best possible results.</p>        
        </div>
    </div>
    <div class="crumb"></div>
    <div class="benefit row">
        <div class="row center">
            <h1><i class="benefit fa fa-check" aria-hidden="true"></i>REAL RESULTS</h1>
            <h3>Get Real Results with Riverwalk Credit Repair.</h3>
        </div>
        <div class="row"> 
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <p>We dispute errors, inaccuracies, and misrepresentations on your credit reports. During the six-month program, Riverwalk will continue to dispute your inaccurate credit items with each round of disputes we send out.</p>
            </div>
            <div class="col-sm-4">
                <p>Get 24/7 access to track your Credit Repair progress through your personal myRiverwalk account. After each round of disputes, you will receive your new credit report from each credit bureau at no additional cost!</p>
            </div>            
            <div class="col-sm-2">
            </div>
        </div>
        <div class="row center">
            <p>On average, customers experience more than a 50 point increase in their credit score at the end of the six-month Credit Repair program.</p>        
        </div>
    </div>
    <div class="crumb"></div>
    <div class="benefit row">
        <div class="row center">
            <h1><i class="benefit fa fa-cog" aria-hidden="true"></i>QUICK SETUP</h1>
            <h3>Credit Repair by Riverwalk - Quick Setup Process</h3>
        </div>
        <div class="row"> 
            
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                    <p class="benefit para">1. Review Your Credit Profile</p>
                    <p>Use Riverwalk's credit analysis tools to see what your credit profile says about you. Learn how many credit items you have, and what cleaning up your credit profile could mean to your credit score.</p>
                    <p class="benefit para">2. Select your Inaccurate Items</p>
                    <p>Review each of your credit items. Use our pre-loaded choices to tell us if each credit item is accurate or inaccurate, and why.</p>
            </div>
            <div class="col-sm-4">
                <p class="benefit para">3. Credit Experts Review Your Information</p>
                <p>After you submit your credit profile, Riverwalk's credit specialists will review your items and make suggestions. Then we will begin disputing on your behalf.</p>
                <p class="benefit para">4. Riverwalk Handles the Rest</p>
                <p>All you need to do is send your revised credit reports to Riverwalk each month. We'll update your account and re-submit disputes for additional errors and inaccuracies for up to six months!</p>
            </div>            
            <div class="col-sm-2">
            </div>
        </div>
    </div>
    <div class="crumb"></div>
    <div class="row center pad">
        <h3>Full-Service Credit Repair for only $99/month*</h3>
    </div>
    <div class="row"> 
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <a class="signup-link" [routerLink]="['/register']">
                <button class="btn btn-shield btn-lg btn-block" type="button">Start Now >></button>
            </a>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="benefit crumb"></div>
</div><!-- End of container-fluid Div --> 