<div class="container-fluid">
    <img class="slides img-fluid" src="/img/slides/slide-4.jpg">
    <div class="row primaryUnderSlide">
        <div class="row center">
            <h1>Learn More About Your Credit Report</h1>
        </div>
    </div>
    <div class="row product repair-sec"> 
        <div class="product col-sm-4">
            <div class="service row center txtFormat">
                <h3>Building a Better Credit Report</h3>
                <p>How can I improve my credit report? Do I have a right to know what's in my report? What type of information do consumer reporting companies collect and sell? First things first: you can't improve your credit report until you understand how it works.
                <a routerLinkActive="active" [routerLink]="['/building']">Read More...</a></p>
            </div>
        </div>
        <div class="product col-sm-4">
            <div class="service row center txtFormat">
                <h3>Credit Tips</h3>
                <p>Good credit is a big deal, and having bad credit can be a real problem. Bad credit can cost you hundreds or even thousands of dollars in unnecessary interest charges. Know the facts about your credit before you make major purchases or apply for new lines of credit.
                <a routerLinkActive="active" [routerLink]="['/tips']">Read More...</a></p>
            </div>
        </div>
        <div class="product col-sm-4">
            <div class="service row center txtFormat">
                <h3>Credit Report Maintenance</h3>
                <p>Good credit is important, now and in the future. In most cases, it takes at least seven years for accurate, negative information to be deleted from a credit report. Bankruptcy information takes even longer to be deleted - 10 years. Knowing what creditors look for on credit reports can help you keep your report clean and accurate.
                <a routerLinkActive="active" [routerLink]="['/maintenance']">Read More...</a></p>
            </div>
        </div>
    </div>
</div><!-- End of container-fluid Div -->