<div class="container-fluid">
    <img class="slides img-fluid" src="/img/slides/slide-1.jpg">
    <div class="row primaryUnderSlide">
        <div class="row center">
            <h1>Credit ANALYZER</h1>
            <h3>Unsure if you need credit repair? Analyze your credit for only $49!</h3>
        </div>
        <div class="row"> 
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <a class="signup-link break" routerLinkActive="active" [routerLink]="['/register']">
                <button class="btn btn-shield btn-lg btn-block" type="button">ANALYZE NOW</button>
                </a>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6 center">
                    <a routerLinkActive="active" [routerLink]="['/register']"  class="mybtn1"> 
                    <i class="fa fa-folder analyze"></i><br> 
                    <h3>HISTORY</h3></a>
                    <p class="servText">Have you ever made late payments?</p>
                </div>
                <div class="col-sm-12 col-md-6 center" >
                    <a routerLinkActive="active" [routerLink]="['/register']"  class="mybtn1"> 
                    <i class="fa fa-dollar analyze"></i><br> 
                    <h3>TYPE</h3></a>    
                    <p class="servText">What types of accounts do you have?</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6 center" >
                    <a routerLinkActive="active" [routerLink]="['/register']"  class="mybtn1"> 
                    <i class="fa fa-clock-o analyze"></i><br> 
                    <h3>Age</h3></a> 
                    <p class="servText">How old are your credit accounts?</p>
                </div>
                <div class="col-sm-12 col-md-6 center" >
                    <a routerLinkActive="active" [routerLink]="['/register']"  class="mybtn1"> 
                    <i class="fa fa-credit-card-alt analyze"></i><br> 
                    <h3>RECENT</h3></a> 
                    <p class="servText">Have you opened a new account lately?</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="row">
                <div class="col-sm-12 col-md-6 center">
                    <a routerLinkActive="active" [routerLink]="['/register']"  class="mybtn1"> 
                    <i class="fa fa-balance-scale analyze"></i><br> 
                    <h3>BALANCES</h3></a> 
                    <p class="servText">Do you have high balances?</p>
                </div>
                <div class="col-sm-12 col-md-6 center">
                     <a routerLinkActive="active" [routerLink]="['/register']"  class="mybtn1"> 
                     <i class="fa fa-search analyze"></i><br> 
                     <h3>Analyze</h3></a>
                     <p class="servText">Analyze your credit report today!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="crumb"></div>
    <div class="row center underSlide">
        <h1>Credit REPAIR</h1>
        <h3>Full-Service Credit Repair for only $99/month*!</h3>
    </div>
    <div class="row"> 
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <a class="signup-link" routerLinkActive="active" [routerLink]="['/register']">
                <button class="btn btn-shield btn-lg btn-block" type="button">GET STARTED</button>
            </a>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row center break">
        <a routerLinkActive="active" [routerLink]="['/benefits']">
        <h3>Learn more about $99/mo Credit Repair</h3> 
        </a>
    </div>
    <div class="row"> 
        <div class="col-sm-4">
            <div class="row">
                <a routerLinkActive="active" [routerLink]="['/register']">
                <p class="orderCent">
                <i class="fa fa-arrow-right" aria-hidden="true"> Review your Credit Profile</i></p></a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <a routerLinkActive="active" [routerLink]="['/register']">
                <p class="orderCent">
                <i class="fa fa-arrow-right" aria-hidden="true"> Select your Inaccurate Items</i></p></a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <a routerLinkActive="active" [routerLink]="['/register']">
                <p class="orderCent">
                <i class="fa fa-arrow-right" aria-hidden="true"> Riverwalk Handles The Rest</i></p></a>
            </div>
        </div>
    </div>
    <div class="crumb"></div>

    <div class="row repair-sec"> 
        <div class="col-sm-4">
            <div class="row center txtFormat">
                <h3>Repair Your Credit</h3>
                <p>Get immediate access to your credit profile, quickly analyze your credit items, and instantly begin disputing the errors and inaccurate items on your credit report. All for one low price!</p>
            </div>
        </div>
        <a routerLinkActive="active" [routerLink]="['/register']">
            <div class="col-sm-4">
                <div class="row center signupBtn">
                    <a class="signup-link" routerLinkActive="active" [routerLink]="['/register']">
                    <button class="btn btn-shield btn-lg btn-block" type="button">SIGN UP</button>
                    </a>
                    <i class="fa fa-shield shield-signup"></i>
                </div>
            </div>
        </a>
        <div class="col-sm-4">
            <div class="row center txtFormat">
                <h3>We Fight For You</h3>
                <p>A full-service credit repair program for one low price. Fully compliant with all Federal regulations, including the 
                <a routerLinkActive="active" [routerLink]="['/fcra']">FCRA</a> 
                and 
                <a routerLinkActive="active" [routerLink]="['/croa']">CROA.</a>
                Improve the accuracy of your credit reports at all 3 major Credit Bureaus.
                </p>
            </div>
        </div>
    </div>
</div><!-- End of container-fluid Div -->