<div class="container-fluid">
    <img class="slides img-fluid" src="/img/original/header3.jpg">
	<div class="row primaryUnderSlide">
        <div class="row center">
            <h1>Credit Report Maintenance</h1>
            <p>Good credit is important, now and in the future. In most cases, it takes seven years for accurate, negative information to be deleted from a credit report. Bankruptcy information takes even longer to be deleted - 10 years. </p>
        </div>
    </div>
	<div class="product row primaryUnderSlide">
		<div class="row left">
			<button type="button" class="building btn btn-primary btn-info btn-default btn-lg btn-block responsive-width" (click)="isCollapsed = !isCollapsed">Know What Creditors Look for on Credit Reports</button>
			<div [collapse]="isCollapsed" class="card card-block card-header">
				<p class="answer">Understanding what types of information most creditors evaluate is important. Your credit report is a key part of your credit score, but it is not the only factor. You get points for other things like: </p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Your bill-paying history</p></li>
					<li class="product compliantgroupitem"><p class="servText">How many accounts you have and what kind</p></li>
					<li class="product compliantgroupitem"><p class="servText">Late payments</p></li>
					<li class="product compliantgroupitem"><p class="servText">Longevity of accounts</p></li>
					<li class="product compliantgroupitem"><p class="servText">The unused portions of lines of credit</p></li>
					<li class="product compliantgroupitem"><p class="servText">Collections actions</p></li>
					<li class="product compliantgroupitem"><p class="servText">Outstanding debt</p></li>
				</ul>
				<p class="answer">You should periodically review your credit reports so you will be aware of the information your creditors are looking at.</p>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-primary btn-info btn-default btn-lg btn-block responsive-width" (click)="isCollapsed1 = !isCollapsed1">Keep Credit Cards Under Control</button>
			<div [collapse]="isCollapsed1" class="card card-block card-header">
				<p class="answer">Whether you shop online, by telephone or by mail, a credit card can make buying many things much easier; but when you use a credit card, it's important to keep track of your spending. Incidental and impulse purchases add up, and each one you make with a credit card is a separate loan. When the bill comes, you have to pay what you owe. Owing more than you can afford to repay can damage your credit rating.</p>
				<p class="answer">Keeping good records can prevent a lot of headaches, especially if there are inaccuracies on your monthly statement. If you notice a problem, promptly report it to the company that issued the card. Usually the instructions for disputing a charge are on your monthly statement. If you order by mail, by telephone or online, keep copies and printouts with details about the transaction. </p>
				<p class="answer">These details should include the company's name, address and telephone number; the date of your order; a copy of the order form you sent to the company or a list of the stock codes of the items ordered; the order confirmation code; the ad or catalog from which you ordered (if applicable); any applicable warranties; and the return and refund policies. </p>
				<p class="answer">Finally, if you have a credit card, take the following precautions: </p>
				
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Never lend it to anyone.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Never sign a blank charge slip. Draw lines through blank spaces on charge slips above the total so the amount can't be changed.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Never put your account number on the outside of an envelope or on a postcard.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Always be cautious about disclosing your account number on the telephone unless you know the person you're dealing with represents a reputable company.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Always carry only the cards you anticipate using to prevent the possible loss or theft of all your cards or identification.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Always report lost or stolen ATM and credit cards to the card issuers as soon as possible. Follow up with a letter that includes your account number, when you noticed the card was missing, and when you first reported the loss.</p></li>
				</ul>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-primary btn-info btn-default btn-lg btn-block responsive-width" (click)="isCollapsed2 = !isCollapsed2">Protect Your Identity</button>
			<div [collapse]="isCollapsed2" class="card card-block card-header">
				<p class="answer">Identity theft involves someone else using your personal information to create fraudulent accounts, charge items to another person's existing accounts, or even get a job. You can minimize the risks by managing your personal information wisely and cautiously. Here are some ways to protect yourself from identity theft: 	</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Before you reveal any personally identifying information, find out how it will be used and whether it will be shared.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Pay attention to your billing cycles. Follow up with creditors if your bills don't arrive on time.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Guard your mail from theft. Deposit outgoing mail in post office collection boxes or at your local post office. Promptly remove mail from your mailbox after it has been delivered. If you're planning to be away from home and can't pick up your mail, call the U.S. Postal Service toll-free at 1-800-275-8777, or visit <a href="#">www.usps.gov</a> to request a vacation hold.</p></li>
					<li class="product compliantgroupitem"><p class="servText">When possible, put passwords on your credit card, bank and phone accounts. Avoid using easily available information like your mother's maiden name, your birth date, the last four digits of your Social Security number or telephone number, or a series of consecutive numbers. It's a good idea to keep a list of your credit card issuers and their telephone numbers.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Don't give out personal information on the telephone, through the mail or over the Internet unless you've initiated the contact or you know whom you're dealing with.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Protect personal information in your home. For example, tear or shred documents like charge receipts, copies of credit offers and applications, insurance forms, physician's statements, discarded bank checks and statements, and expired credit cards before you throw them away. Be cautious about leaving personal information in plain view, especially if you have roommates, employ outside help or are having service work done.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Find out who has access to your personal information at work and verify that the records are kept in a secure location.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Never carry your Social Security card; leave it in a secure place at home. Give out your Social Security number only when absolutely necessary.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Order your credit report from each of the three major credit reporting agencies every year to make sure it is accurate and includes only those activities you've authorized.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Carry only the identification that you actually need.</p></li>
				</ul>
			</div>
		</div>
		
	</div>
</div><!-- End of container-fluid Div -->