<div class="container-fluid">
    <img class="slides img-fluid" src="/img/slides/slide-3.jpg">
    <div class="row primaryUnderSlide">
        <div class="row center">
            <h1>About Riverwalk</h1>
        </div>
    </div>
    <div class="row product repair-sec"> 
        <div class="services col-sm-4">
            <img class="slides img-fluid" src="/img/slides/slide-3.jpg">
        </div>
        <div class="services col-sm-8">
            <p>Riverwalk Credit diligently works to help its clients achieve 100% accurate information on their credit reports through all 3 credit bureaus. Riverwalk Credit reviews the client's credit history to ensure the program is right for you. They offer competitive pricing with proven results in a shorter amount of time then the average credit repair company. Clients are provided 24/7 access to their accounts as Riverwalk prides itself on outstanding customer service.</p>
        </div>
    </div>
    <div class="crumb"></div>
    <div class="row product repair-sec">
        <div class="col-sm-2">
        </div>
        <div class="product col-sm-4">
            <div class="service row center txtFormat">
                <h3>Credit ANALYER</h3>
                <p>Curious about your credit score? Wondering what's in your credit report? Want to know what can be done about potentially inaccurate, negative items?
                <a href="#">Get Started »</a>
                </p>
            </div>
            <div class="service row center credit">
                <a class="signup-link" href="#">
                    <button class="btn btn-shield btn-lg btn-block" type="button"><i aria-hidden="true" class="service fa fa-usd"></i><span class="service number">49</span> <br><span class="service cost">TOTAL COST</span></button>
                </a>
            </div>
        </div>
        <div class="product col-sm-4">
            <div class="service row center txtFormat">
                <h3>Credit ENHANCEMENT</h3>
                <p>Get immediate acess to your credit profile, quickly analyze your credit items, and instantly begin disputing the errors and inaccurate items on your credit report. All
                for one low price!
                <a href="#">Get Started »</a>
                </p>
            </div>
            <div class="service row center credit">
                <a class="signup-link" href="#">
                    <button class="btn btn-shield btn-lg btn-block" type="button"><i aria-hidden="true" class="service fa fa-usd"></i><span class="service number">99</span> <br><span class="service cost">A MONTH</span></button>
                </a>
            </div>
        </div>
    </div>
    <div class="crumb"></div>
    <div class="row center pad">
        <h1>Other Riverwalk Services</h1>
        <h3>Student Loan Consolidation</h3>
        <p>Riverwalk also helps individuals who are interested in student loan consolidations and in student loan forgiveness programs. Riverwalk strives to find the right program tailored to fit the needs of each of their client's.</p>
    </div>
</div><!-- End of container-fluid Div -->