<div class="container-fluid">
    <img class="slides img-fluid" src="/img/original/header3.jpg">
	<div class="row primaryUnderSlide">
        <div class="row center">
            <h1>Credit Tips</h1>
            <p>Good credit is a big deal, and having bad credit can be a real problem. Know the facts about your credit before you make major purchases or apply for new credit.</p>
        </div>
    </div>
	<div class="product row primaryUnderSlide">
		<div class="row left">
			<button type="button" class="building btn btn-primary  btn-info btn-default btn-lg btn-block" (click)="isCollapsed = !isCollapsed">Establishing Credit</button>
			<div [collapse]="isCollapsed" class="card card-block card-header">
				<p class="answer">People who are just starting out might find it hard to get a loan or a credit card. That's because having no credit history makes it difficult for lenders to know if you're a good risk to repay a loan and make your payments on time. </p>
				<p class="answer">Establishing a good credit history is not as difficult as it seems. In all cases, however, you'll need to make payments on time. Some tips include:</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Apply for a credit card through a local store. Local stores are more likely to extend credit to people without an established credit history.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Apply for a secured credit card. By borrowing against your own money, creditors find this to be far less risky.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Ask someone with a good credit history to co-sign on a loan or a credit card application. By co-signing, the person is agreeing to pay back the loan if you don't.</p></li>
				</ul>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-primary btn-info btn-default btn-lg btn-block" (click)="isCollapsed1 = !isCollapsed1">Maintaining Credit</button>
			<div [collapse]="isCollapsed1" class="card card-block card-header">
				<p class="answer">Knowing what creditors evaluate is important. Some of the things they look at include:</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Your credit/loan application</p></li>
					<li class="product compliantgroupitem"><p class="servText">Your credit report</p></li>
					<li class="product compliantgroupitem"><p class="servText">Your bill-paying history</p></li>
					<li class="product compliantgroupitem"><p class="servText">How many accounts you have and what kind</p></li>
					<li class="product compliantgroupitem"><p class="servText">Whether or not you make payments on time</p></li>
					<li class="product compliantgroupitem"><p class="servText">How long you've had your loans/accounts</p></li>
					<li class="product compliantgroupitem"><p class="servText">Unused portions of lines of credit</p></li>
					<li class="product compliantgroupitem"><p class="servText">Collections actions</p></li>
					<li class="product compliantgroupitem"><p class="servText">Outstanding debt</p></li>
				</ul>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-primary btn-info btn-default btn-lg btn-block" (click)="isCollapsed2 = !isCollapsed2">Improving Credit</button>
			<div [collapse]="isCollapsed2" class="card card-block card-header">
				<p class="answer">If you've charged too much on credit cards or are paying less toward your debts than you should, you're not alone. A lot of people are in this situation. Some ways to turn things around include:	</p>
				<div class="col-sm-4">
					<h3>Budgeting</h3>
					<p class="answer">In many cases people design and stick to a budget to get their debt under control. A budget is a plan for how much money you have and how much money you spend. Sticking to a realistic budget allows you to pay off your debts and save for the proverbial rainy day.</p>
				</div>
				<div class="col-sm-4">
					<h3>Credit counseling</h3>
					<p class="answer">Many universities, military bases, credit unions and housing authorities operate nonprofit financial counseling programs. Some charge a fee for their services. Creditors may be willing to accept reduced payments if you are working with a reputable program to create a debt repayment plan.</p>
				</div>
				<div class="col-sm-4">
					<h3>Bankruptcy</h3>
					<p class="answer">Bankruptcy is considered the credit solution of last resort. Unlike negative credit information that stays on a credit report for seven years, bankruptcies stay on a credit report for 10 years. Bankruptcy can make it difficult to rent an apartment, buy a house or condo, get some types of insurance, get additional credit, and sometimes, get a job. In some cases, bankruptcy may not be an easily available option.</p>
					<p class="answer">You could also contact your creditors. Let them know that you're having trouble. Some might be willing to work with you. </p>
				</div>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-primary btn-info btn-default btn-lg btn-block" (click)="isCollapsed3 = !isCollapsed3">Protecting Credit</button>
			<div [collapse]="isCollapsed3" class="card card-block card-header">
				<p class="answer">Credit cards make buying things easier than ever before, but it's important to keep track of your spending. Each time you buy something with a credit card it's like taking out a loan. Incidental and impulse purchases add up, and when the bill comes, you have to pay what you owe.</p>
				<p class="answer">Another reason why it's important to keep track of your spending is in case there are inaccuracies on your statement. If you notice a problem, promptly report it to the credit card company. Records to keep when you're buying online or through a catalog include printouts or copies of each transaction or form, confirmation codes, a copy of the catalog you're using (if applicable), and the warranty, return and refund policies.</p>
				<p class="answer">If you have a credit card, here are some other tips to protect your account:</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Never lend your credit card to anyone.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Never sign a blank charge slip.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Never put your account number on the outside of an envelope or on a postcard.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Always be cautious about disclosing account numbers on the telephone.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Carry only the cards you need.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Keep a record of your account number, the account's expiration dates, and the phone number and address of each credit card company in a secure place.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Report lost or stolen ATM and credit cards to the card issuers as soon as possible. Follow up with a letter.</p></li>
				</ul>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-primary btn-info btn-default btn-lg btn-block" (click)="isCollapsed4 = !isCollapsed4">Lost or Stolen Wallet or Purse?</button>
			<div [collapse]="isCollapsed4" class="card card-block card-header">
				<p class="answer">A lost or stolen wallet or purse is a gold mine of information to identity thieves.</p>
				<p class="answer">If your wallet or purse is missing:</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">File a report with the police immediately and keep a copy.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Cancel your credit, debit and ATM cards immediately.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Get new cards with new account numbers.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Call the fraud departments of the major credit reporting agencies.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Ask each agency to put out a fraud alert on your accounts.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Report the loss to the fraud department at your bank.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Review your credit reports regularly and have them corrected when necessary.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Report a missing driver's license to your state's department of motor vehicles.</p></li>
					<li class="product compliantgroupitem"><p class="servText">If your keys are missing change the locks on your home and car.</p></li>
				</ul>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-primary btn-info btn-default btn-lg btn-block" (click)="isCollapsed5 = !isCollapsed5">Credit Scams</button>
			<div [collapse]="isCollapsed5" class="card card-block card-header">
				<p class="answer">Advance-fee loan scams involve guaranteeing a credit card in advance for a fee before you even apply. These offers are illegal and often target people with credit problems. If someone calls you at home making this offer, tell the person not to call anymore and hang up. </p>
				<p class="answer">Another thing to watch out for is deceptive ads promising debt relief, when in fact they are offering bankruptcy. Bankruptcy stays on your credit record for 10 years and hinders your ability to get credit. Before agreeing to any debt-relief services it's important to get all the details.</p>
			</div>
		</div>
	</div>
</div><!-- End of container-fluid Div -->