Options +FollowSymLinks
RewriteEngine On
RewriteBase /halocredit/public/

RewriteCond %{HTTP_HOST} ^halocredit.com [NC]
RewriteRule ^(.*)$ http://www.halocredit.com/$1 [L,R=301]
RewriteRule ^r/([^/]*)\.htm$ /r/page.php?str=$1 [L]

# BASE PAGE REWRITES
RewriteRule ^repair-bad-credit-services.html$ index.php?page=services [L]
RewriteRule ^fix-credit-products.html$ index.php?page=benefits [L]
RewriteRule ^faststart/credit-analyzer.html$ faststart/index.php?product=1 [L]
RewriteRule ^faststart/credit-repair.html$ faststart/index.php?product=2 [L]
RewriteRule ^faststart/credit-repair-pro.html$ faststart/index.php?product=3 [L]
RewriteRule ^faststart/halosafe-id.html$ faststart/index.php?product=25 [L]
RewriteRule ^credit-report-repair-testimonials.html$ index.php?page=testimonials [L]
RewriteRule ^credit-college.html$ index.php?page=creditcollege [L]
RewriteRule ^credit-info.html$ index.php?page=creditcollege [L]
RewriteRule ^build-a-better-credit-report.html$ index.php?page=college_bettercredit [L]
RewriteRule ^credit-tips.html$ index.php?page=college_credittips [L]
RewriteRule ^credit-report-maintenance.html$ index.php?page=college_maintanence [L]
RewriteRule ^contact-halo-credit.html$ index.php?page=contact [L]
RewriteRule ^halo-credit-sitemap.html$ index.php?page=sitemap [L]
RewriteRule ^halo-credit-privacy-policy.html$ index.php?page=privacy [L]
RewriteRule ^low-price-credit-help.html$ index.php?page=benefits_lowprice [L]
RewriteRule ^quick-setup-to-repair-credit-score.html$ index.php?page=benefits_quicksetup [L]
RewriteRule ^real-results-to-raise-credit-score.html$ index.php?page=benefits_realresults [L]
RewriteRule ^hassle-free-credit-report-repair.html$ index.php?page=benefits_hasslefree [L]
RewriteRule ^compliant-credit-repair-service.html$ index.php?page=ftc [L]
RewriteRule ^fair-credit-reporting-act.html$ index.php?page=fcra [L]
RewriteRule ^credit-repair-organizations-act.html$ index.php?page=croa [L]
RewriteRule ^halo-credit-news.html$ index.php?page=news [L]

# OTHER COMMON STUFFS
DirectoryIndex index.html index.php index.htm
ErrorDocument 400 /index.php?page=sitemap&err=400
ErrorDocument 401 /index.php?page=sitemap&err=401
ErrorDocument 403 /index.php?page=sitemap&err=403
ErrorDocument 404 /index.php?page=sitemap&err=404
ErrorDocument 500 /index.php?page=sitemap&err=500